* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #206A5D 0%, #F1F1E8 52.08%, #F1F1E8 100%);;
}

.container{
    width: 100%;
    display: flex;
    max-width: 900px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.13);
}

.login{
    width: 450px;
}

form{
    width: 300px;
    margin: 60px auto;
    margin-top: 30px;
}

form img{
    margin-left: 127.5px;
    width: 37px;
    height: 100%;
}

h1{
    margin-top: 5px;
    text-align: center;
    font-weight: bolder;
}

p{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 10px;
}

.right{
    background: #bfdcae;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.right img{
    width: 450px;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.email{
    width: 365px;
    margin: 2px;
    margin-left: -37px;
    margin-top: 20px;
    border: none;
    outline: none;
    padding: 8px;
}

.email input{
    width: 365px;
    border: none;
    padding: 8px 30px 8px 30px;
    padding-left: 33px;
    outline: none;
    border-bottom: 1px solid green;
    background: #E7E7E7;
    font-weight: 400;
    font-size: 15px;
}

.email svg{
    padding-left: 7px;
    margin-top:5px;
    position: absolute;
    width: 24px;
    height: 24px;
    opacity: 50%;
}

form button{
    border: none;
    outline: none;
    margin-left: 186px;
    padding: 8px;
    width: 150px;
    cursor: pointer;
    margin-top: 8px;
    border-radius: 9.5px;
    background: #206A5D;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form button {
    color: #fff;
    font-size: 15px;
}

form button:hover{
    background: #1f544a;
}

.login-sign-up .login-sign-up-button .register-navbar button{
    background-color: #81B214;
}

.email small{
    position: absolute;
    padding-left: 33px;
    padding-top: 2px;
}
