* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background: linear-gradient(180deg, #206A5D 0%, #F1F1E8 52.08%, #F1F1E8 100%);;
}

.container{
    width: 100%;
    display: flex;
    gap: 78px;
    max-width: 900px;
    background: #bfdcae;
    border-radius: 8px;
    box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.13);
}

.login{
    border-radius: 12px 0 0 12px;
    width: 450px;
    background: white;
    padding-bottom: 20px;
}

form{
    width: 250px;
    margin: 60px auto;
    margin-top: 35px;
}

form img{
    margin-left: 100px;
    width: 50px;
    height: 100%;
}

h1{
    text-align: center;
    font-weight: bolder;
}

p{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.right{
    background: #bfdcae;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right img{
    width: 450px;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.email{
    width: 365px;
    margin: 2px;
    margin-left: -65px;
    margin-top: 10px;
    border: none;
    outline: none;
    padding: 8px;
}

.email input{
    width: 365px;
    border: none;
    padding: 8px 30px 8px 30px;
    padding-left: 33px;
    outline: none;
    border-bottom: 1px solid green;
    background: #E7E7E7;
    font-weight: 400;
    font-size: 15px;
}

.email svg{
    padding-left: 7px;
    margin-top:5px;
    position: absolute;
    width: 24px;
    height: 24px;
    opacity: 50%;
}

.sandi{
    width: 365px;
    margin: 2px;
    margin-left: -65px;
    margin-top: 0px;
    border: none;
    outline: none;
    padding: 8px;
}

.sandi input{
    width: 365px;
    border: none;
    padding: 8px 30px 8px 30px;
    padding-left: 33px;
    outline: none;
    border-bottom: 1px solid green;
    background: #E7E7E7;
    font-weight: 400;
    font-size: 15px;
}

.sandi svg{
    padding-left: 7px;
    margin-top:5px;
    position: absolute;
    width: 24px;
    height: 24px;
    opacity: 50%;
}

.rememberme-container{
    margin: 2px;
    margin-left: -58px;
    margin-top: 0px;
}

form button{
    border: none;
    outline: none;
    margin-left: -56.5px;
    padding: 8px;
    width: 365px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    background: #206A5D;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

form button:hover{
    background: #1f544a;
}

.Signup{
    text-align: center;
    margin-top: -45px;
}

.Signup p{
    color: #6c6c6cd0;
}

.Signup a{
    color: #6c6c6cd0;
}

.Signup button{
    border: 1px solid #206A5D;
    margin-left: 2px;
    padding: 8px;
    width: 365px;
    color: #206A5D;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    background: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.Signup button:hover{
    background: #e7e7e0;
}

.login-sign-up-button .register-navbar button{
    background: #81B214;
}
.login-sign-up-button .login-navbar button{

    background: #587518;
    border-radius:  35px 0px 0px 35px;
    border-right: 4px solid #FFFEFE;
}
